<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="test"/>
    <add key="password" value="test"/>
    <add key="ScheduledFrequencyByMins" value="10"/>
    <add key="ftpsite" value="ftp://114.35.116.79/test/"/>
    <add key="localfolder" value="c:\test\"/>
    <add key="webservicesite" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>