<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="username" value="test"/>
    <add key="password" value="test"/>
    <add key="ScheduledFrequencyByMins" value="10"/>
    <add key="ftpsite" value="ftp://114.35.116.79/test"/>
    <add key="contentfolder" value ="c:\_content\"/>
    <add key="localversionfolder" value="c:\_version\"/>
    <add key="remoteversionfolder" value="_Version"/>
    <add key ="remotecontentfolder" value="_Content"/>
    <add key ="syncfolders" value ="Commercial;NonService;Video"/>
    <add key="webservicesite" value=""/>
  </appSettings>
</configuration>
